.content {
    &__header {
        margin-bottom: $spacing * 2;

        &-title {
            margin-bottom: 1rem;
        }

        &-back {

            &::before {
                content: "\f359";
                padding-right: 0.5rem;
                font-family: $font-icons;
            }
        }

        &-search {
            input[type="text"] {
                border: 0;
                box-shadow: none;
                border-radius: 2rem;
                padding-left: 2rem;
                
            }
        }
    }
}