$font-general: 'Montserrat', Arial, Helvetica, sans-serif;
$base-font-size: 1.4rem !default; 

$font-size-heading-1: 2.9rem;

$header-padding-top: 1rem; 
$header-padding-right: 1rem; 
$header-padding-bottom: 1rem; 
$header-padding-left: 0rem; 

$content-padding-top: 3rem;
$content-padding-right: 2rem;
$content-padding-bottom: 1rem;
$content-padding-left: 3rem;

$welcome-padding-bottom: 4rem;

// $header-nav-font-size: 1.6rem;
// $table-heading-size: 2.7rem;
// $welcome-message-size: 4.4rem;
// $welcome-overview-category-size: 1.7rem;
// $welcome-overview-value-size: 2.6rem;
