<template>
    <div class="content-notification">
        <div class="row no-gutters content__header">
            <div class="column-3">
                <p>Total Fees for 3/15/2020 - 9/15-2020</p>
                <p>$ 87,983.83</p>
                <table class="table table--condensed">
                    <tbody class="table__body">
                        <tr>
                            <td>Total Assets</td>
                            <td class="text--right">$455,112,354.17</td>
                        </tr>
                        <tr>    
                            <td>Excluded from Billing</td>
                            <td class="text--right">$352,027.85</td>
                        </tr>
                        <tr>
                            <td>Advisory Rate</td>
                            <td class="text--right">1.25%</td>
                        </tr>
                        <tr>
                            <td>Number of Accounts</td>
                            <td class="text--right">5</td>
                        </tr>
                        <tr>
                            <td>New Revenue</td>
                            <td class="text--right">$12,315.27</td>
                        </tr>
                        <tr>
                            <td>Lost Revenue</td>
                            <td class="text--right">%1,719.04</td>
                        </tr>
                        <tr>
                            <td>% of Total Book Assets</td>
                            <td class="text--right">19.75%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-1"></div>
            <div class="column-8">
                <chart pointWidth="30"/>
            </div>
        </div>
        <h1 class="content__header-title">Fees for 3/15/2020 - 9/15-2020</h1>
        <div class="table table--bordered">
            <div class="table__toolbar">
                <ul class="legend">
                    <li class="legend__item before--color-grey">Mar-2020</li>
                    <li class="legend__item before--color-grey">Q2-2020</li>
                    <li class="legend__item before--color-grey">Current(Q3-2020)</li>
                </ul>
                <span class="table__toolbar--text">Total: $87,983.83</span>
            </div>
            <table>
                <thead class="table__head">
                    <tr>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Custodian</th>
                        <th>Fees</th>
                        <th>Assets</th>
                        <th>Exclusions</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr
                        v-for="item in fees"
                        :key="item.client"
                    >
                        <td><div data-tooltip="Click to view client details">{{ item.client }}</div></td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.custodian }}</td>
                        <td>{{ item.fees | currencyDisplay }}</td>
                        <td>{{ item.assets | currencyDisplay }}</td>
                        <td>{{ item.exclusions | currencyDisplay }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { FeesModel,  FeesRequestModel } from '@/model';
import { IFeesService } from '@/service';
import Chart from "@/components/Chart.vue";

@Component({
  components: { Chart }
})
export default class Fees extends Vue {

    @Inject('feesService') service: IFeesService;

    public fees: Array<FeesModel> = [];

    created() {
        this.getFeeDetails();
    }

    public getFeeDetails() {
        this.fees = [];
        let request = new FeesRequestModel();
        request.sortColumn = "date";
        request.pageSize = 5;
        this.service.getItems(request).then((response) => {
            this.fees = response.data;
        }).catch((err) => {
            console.log(err);
        })
    }
}
</script>