<template>
    <div class="content-notification">
        <div class="row no-gutters content__header">
            <div class="column-3">
                <p>Total Flows for 4/1/2020 - 9/15/2020</p>
                <p>$ 14,463,173.53</p>
                <table class="table table--condensed">
                    <tbody class="table__body">
                        <tr>
                            <td>Starting Assets Balance</td>
                            <td class="text--right">$67,421,228.94</td>
                        </tr>
                        <tr>    
                            <td>Number of Deposits</td>
                            <td class="text--right">7</td>
                        </tr>
                        <tr>
                            <td>Total in Deposits</td>
                            <td class="text--right">$12,112,315.27</td>
                        </tr>
                        <tr>
                            <td>Number of Withdrawals</td>
                            <td class="text--right">3</td>
                        </tr>
                        <tr>
                            <td>Total in Withdrawals</td>
                            <td class="text--right">$1,271,149.04</td>
                        </tr>
                        <tr>
                            <td>Investing & Other Activities</td>
                            <td class="text--right">$1,079,709.22</td>
                        </tr>
                        <tr>
                            <td>% of Household Assets</td>
                            <td class="text--right">18.22%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-1"></div>
            <div class="column-8">
                <div class="row no-gutters">
                    <div class="column-4">
                        <div id="holdingChart"></div>
                    </div>
                    <div class="column-8">
                        <p>As of date: 7/31/2020</p>
                        <table class="table table--condensed">
                            <tbody class="table__body">
                                <tr>
                                    <td class="legend__item before--color-green">Deposities</td>
                                    <td>83.8%</td>
                                    <td class="text--right">$12,112,315.27</td>
                                </tr>
                                <tr>    
                                    <td class="legend__item before--color-blue">Investing & Others</td>
                                    <td>8.8%</td>
                                    <td class="text--right">$1,079,709.22</td>
                                </tr>
                                <tr>
                                    <td class="legend__item before--color-red">Withdrawals</td>
                                    <td>7.4%</td>
                                    <td class="text--right">$1,271,149.04</td>
                                </tr>
                                <tr>
                                    <td colspan="3">* Includes market effects, as well as non-billable tranactions</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="content__header-title">Flows for 4/1/2020 - 9/15/2020</h1>
        <div class="table table--bordered">
            <div class="table__toolbar">
                <ul class="legend">
                    <li class="legend__item before--color-green">Deposities</li>
                    <li class="legend__item before--color-red">Withdrawals</li>
                    <li class="legend__item before--color-blue">Investing & Others</li>
                    <li>Not Billable</li>
                </ul>
                <span class="table__toolbar--text">Total: $14,463,173.53</span>
            </div>
            <table>
                <thead class="table__head">
                    <tr>
                        <th>Account</th>
                        <th>Type</th>
                        <th>CUSIP/Identifier</th>
                        <th>Date</th>
                        <th>Asset Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr
                        v-for="item in flows"
                        :key="item.cusip"
                    >
                        <td>{{ item.account }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.cusip }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.assestType }}</td>
                        <td>{{ item.amount | currencyDisplay }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import * as Highcharts from "highcharts/highstock";

import { FlowsModel, FlowsRequestModel } from '@/model';
import { IFlowsService } from '@/service';

@Component
export default class Flows extends Vue {
    @Inject('flowsService') service: IFlowsService;
    public flows: Array<FlowsModel> = [];
    
    public responseForChart = [
            ['Deposities', 83.8],
            ['Withdrawals', 8.8],
            ['Investing & Others', 7.4]
    ];
    
    created() {
        this.getAssetsDetails();
        this.getHoldingsDetails();
    }

    public getAssetsDetails() {
        setTimeout(() => {
            this.showAssetChart();
        })
    }

    private getHoldingsDetails() {
        this.flows = [];
        let request = new FlowsRequestModel();
        request.sortColumn = "date";
        request.pageSize = 5;
        this.service.getItems(request).then((response) => {
            this.flows = response.data;
        }).catch((err) => {
            console.log(err);
        })
    }

    private showAssetChart() {
        Highcharts.chart('holdingChart', {
            chart: {
                type: 'pie',
                height: 300
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            tooltip: {
                useHTML: true,
                formatter: function() {
                   return `<table><tr><td><b>${this.point.name}</b></td></tr><tr><td style="text-align: center;">${this.point.y}%</td></tr></table>`
                },
                backgroundColor: '#566270',
                borderColor: '#566270',
                borderRadius: 12,
                style:  {
                    color: '#e4e4e4'
                }
            },
            plotOptions: {
                pie: {
                    innerSize: 200
                },
                series: {
                    dataLabels: {
                        enabled: false
                        }
                }
            },
            colors: ['#8CD790', '#E53A40', '#30A9DE'],
            series: [
                {
                    type: 'pie',
                    data: this.responseForChart
                }
            ]
        })
    }
}
</script>