<template>
    <div class="content-notification">
        <div class="row no-gutters content__header">
            <div class="column-3">
                <p>Total Assets as of 7/31/2020</p>
                <p>$ 79,342,104.39</p>
                <table class="table table--condensed">
                    <tbody class="table__body">
                        <tr>
                            <td>Number of Accounts</td>
                            <td class="text--right">5</td>
                        </tr>
                        <tr>    
                            <td>Number of Asset Types</td>
                            <td class="text--right">8</td>
                        </tr>
                        <tr>
                            <td>New Assets</td>
                            <td class="text--right">$12,112,315.27</td>
                        </tr>
                        <tr>
                            <td>Lost Assets</td>
                            <td class="text--right">$1,271,149.04</td>
                        </tr>
                        <tr>
                            <td>not Billable</td>
                            <td class="text--right">$3,268,894.70</td>
                        </tr>
                        <tr>
                            <td>% of Total Book Assets</td>
                            <td class="text--right">19.75%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-1"></div>
            <div class="column-8">
                <div class="row no-gutters">
                    <div class="column-4">
                        <div id="holdingChart"></div>
                    </div>
                    <div class="column-8">
                        <p>As of date: 7/31/2020</p>
                        <table class="table table--condensed">
                            <tbody class="table__body">
                                <tr>
                                    <td class="legend__item before--color-green">Equities</td>
                                    <td>58%</td>
                                    <td class="text--right">$46,018,420.55</td>
                                </tr>
                                <tr>    
                                    <td class="legend__item before--color-blue">Fixed Income</td>
                                    <td>27%</td>
                                    <td class="text--right">$21,422,368.19</td>
                                </tr>
                                <tr>
                                    <td class="legend__item before--color-red">Mutual Funds & ETFs</td>
                                    <td>10%</td>
                                    <td class="text--right">$7,934,210.44</td>
                                </tr>
                                <tr>
                                    <td class="legend__item before--color-orange">Cash & Cash Equivalents</td>
                                    <td>3%</td>
                                    <td class="text--right">$2,380,263.13</td>
                                </tr>
                                <tr>
                                    <td class="legend__item before--color-purple">Other*</td>
                                    <td>2%</td>
                                    <td class="text--right">$1,586,842.09</td>
                                </tr>
                                <tr>
                                    <td colspan="6">Aggregates 4 assets classes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="content__header-title">Holdings as 7/31/2020</h1>
        <div class="table table--bordered">
            <div class="table__toolbar">
                <ul class="legend">
                    <li class="legend__item before--color-green">Equities</li>
                    <li class="legend__item before--color-blue">Fixed Income</li>
                    <li class="legend__item before--color-red">Mutual Funds & ETFs</li>
                    <li class="legend__item before--color-orange">Cash & Cash Equivalents</li>
                    <li class="legend__item before--color-purple">Other</li>
                    <li>Excluded</li>
                </ul>
                <span class="table__toolbar--text">Total: $79,342,104.39</span>
            </div>
            <table>
                <thead class="table__head">
                    <tr>
                        <th>Description</th>
                        <th>Ticker/Symbol</th>
                        <th>CUSIP/Identifier</th>
                        <th>Weight</th>
                        <th>Asset Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr
                        v-for="item in holdings"
                        :key="item.cusip"
                    >
                        <td>{{ item.description }}</td>
                        <td>{{ item.ticker }}</td>
                        <td>{{ item.cusip }}</td>
                        <td>{{ item.weight }} %</td>
                        <td>{{ item.assestType }}</td>
                        <td>{{ item.amount | currencyDisplay }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import * as Highcharts from "highcharts/highstock";

import { HoldingsModel, HoldingsRequestModel } from '@/model';
import { IHoldingsService } from '@/service';

@Component
export default class Holdings extends Vue {

    @Inject('holdingsService') service: IHoldingsService;
    public holdings: Array<HoldingsModel> = [];
    
    public responseForChart = [
            ['Equities', 8],
            ['Cash & Cash Equivalents', 3],
            ['Others', 1],
            ['Mutual Funds & ETFs', 6],
            ['Fixed Income', 8]
    ];
    
    created() {
        this.getAssetsDetails();
        this.getHoldingsDetails();
    }

    public getAssetsDetails() {
        setTimeout(() => {
            this.showAssetChart();
        })
    }

    private getHoldingsDetails() {
        this.holdings = [];
        let request = new HoldingsRequestModel();
        request.sortColumn = "date";
        request.pageSize = 5;
        this.service.getItems(request).then((response) => {
            this.holdings = response.data;
        }).catch((err) => {
            console.log(err);
        })
    }

    private showAssetChart() {
        Highcharts.chart('holdingChart', {
            chart: {
                type: 'pie',
                height: 300
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            tooltip: {
                useHTML: true,
                formatter: function() {
                   return `<table><tr><td><b>${this.point.name}</b></td></tr><tr><td style="text-align: center;">${this.point.y}%</td></tr></table>`
                },
                backgroundColor: '#566270',
                borderColor: '#566270',
                borderRadius: 12,
                style:  {
                    color: '#e4e4e4'
                }
            },
            plotOptions: {
                pie: {
                    innerSize: 200
                },
                series: {
                    dataLabels: {
                        enabled: false
                        }
                }
            },
            colors: ['#8CD790', '#F6B352', '#969DF4', '#E53A40', '#30A9DE'],
            series: [
                {
                    type: 'pie',
                    data: this.responseForChart
                }
            ]
        })
    }
}
</script>