<template>   
     <div class="content-home">
        <section class="welcome">

            <h1 class="welcome__message">Jaskie & John F.kennedy</h1>
            <div class="welcome__overview">
               <ul class="header-nav">
                    <!--<router-link :id="`${$route.params.id}/fees`" :to="`${$route.params.id}/fees`" tag="li" class="header-nav__item" active-class="header-nav__item--active" exact>Fees</router-link>
                    <router-link :id="`${$route.params.id}/holdings`" :to="`${$route.params.id}/holdings`" tag="li" class="header-nav__item" active-class="header-nav__item--active">Holdings</router-link>
                    <router-link :id="`${$route.params.id}/flows`" :to="`${$route.params.id}/flows`" tag="li" class="header-nav__item" active-class="active">Flows</router-link>-->
                    <li class="header-nav__item" active-class="header-nav__item--active" @click="navigateAnotherPage('fees')">Fees</li>
                    <li class="header-nav__item" active-class="header-nav__item--active" @click="navigateAnotherPage('holdings')">Holdings</li>
                    <li class="header-nav__item" active-class="active" @click="navigateAnotherPage('flows')">Flows</li>
               </ul>
            </div>

        </section>
        <router-view></router-view>        
    </div>
</template>
<script lang="ts">

import { Component, Vue } from "vue-property-decorator";

@Component
export default class ClientsDetails extends Vue {

    public navigateAnotherPage(page:string) {
        this.$router.push(`/clients/${this.$route.params.id}/${page}`);
    }
}
</script>