<template>
  <div class="content-notification">
    <div class="row no-gutters content__header">
      <div class="column-8">
        <h1 class="content__header-title">Clients</h1>
      </div>
      <div class="column-4 content__header-search">
        <div class="form-input form-input__group">
          <input type="text" placeholder="Search notifications" />
          <a class="form-input__group--icon fa fa-search" href="#"></a>
        </div>
      </div>
    </div>

    <div class="table table--bordered">
      <div class="table__toolbar">
        <ul class="legend">
          <li class="legend__item before--color-grey">Fidelity</li>
          <li class="legend__item before--color-grey">Pershing</li>
          <li class="legend__item before--color-grey">Schwab</li>
          <li class="legend__item before--color-grey">TD Ameritrade</li>
        </ul>
        <span class="table__toolbar--text">Total: 425</span>
      </div>
      <table>
        <thead class="table__head">
          <tr>
            <th>Clients</th>
            <th>Advisor Code(s)</th>
            <th>Custodian(s)</th>
            <th>Since</th>
            <th># of Accounts</th>
            <th>Assets</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr
            v-for="item in clients"
            :key="item.client"
          >
            <td><div data-tooltip="Click to view client details">{{ item.householdName }}</div></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>{{ item.totalValue | currencyDisplay }}</td>
          </tr>
        </tbody>
        <tfoot class="table__foot">
          <tr class="table__foot--load">
            <td colspan="6">Load More</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { ClientModel, ClientRequestModel } from "@/model";
import { IClientsService } from "@/service";

@Component
export default class TopClients extends Vue {
  @Inject("clientsService") service: IClientsService;

  public clients: Array<ClientModel> = [];

  mounted() {
    this.getClients();
  }

  private getClients() {
    let request = new ClientRequestModel();
    request.sortColumn = "date";
    request.pageSize = 5;

    this.service.getItems(request).then((response) => {
      this.clients = response.data;
    });
  }
}
</script>