<template>
  <footer class="footer">
    <div class="footer__legal">
      <span>Copyright Redi2 Technologies, Inc. 2020</span>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class AppFooter extends Vue {

}
</script>