<template>
  <header class="header">
    <div class="row">
      <div class="column-1">
        <div class="header-logo">
          <img
            class="header-logo__img"
            src="../../assets/logo.png"
            alt="Project Logo"
          />
        </div>
      </div>
      <div class="column-7">
        <ul class="header-nav">
          <router-link
            to="/"
            tag="li"
            class="header-nav__item"
            active-class="header-nav__item--active"
            exact
            >Overview</router-link
          >
          <router-link
            to="/clients"
            tag="li"
            class="header-nav__item"
            active-class="header-nav__item--active"
            >Clients</router-link
          >
          <router-link
            to="/approvals"
            tag="li"
            class="header-nav__item"
            active-class="active"
            >Approvals</router-link
          >
          <router-link
            to="/requests"
            tag="li"
            class="header-nav__item"
            active-class="header-nav__item--active"
            >Requests</router-link
          >
          <router-link
            to="/insights"
            tag="li"
            class="header-nav__item"
            active-class="header-nav__item--active"
            >Insights</router-link
          >
        </ul>
      </div>
      <div class="column-2">
        <div class="header-utility-nav">
          <div class="dropdown" v-click-outside="clickOutsideAdvisors">
            <a class="dropdown-toggle" @click="dropdownToggle = !dropdownToggle"
              >{{ selectedAdvisor }}</a
            >
            <ul class="dropdown-menu" :class="{ show: dropdownToggle }">
              <li
                class="dropdown-item"
                v-for="(item, index) in advisors"
                :key="index"
                @click="updateAdvisorCode(item)"
              >
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column-1">
        <div class="header-notification">
          <router-link to="/notifications" class="header-notification__bubble"
            >2</router-link
          >
        </div>
      </div>
      <div class="column-1">
        <div class="header-profile">
          <a href="#" @click.stop="userProfile = !userProfile">
            <!-- <img
              class="header-profile__avatar"  
              src="../../assets/person.png"
              alt="Login Person"
            /> -->
            <span
              class="header-profile__avatar"
              :class="{ 'header-profile__avatar--active': userProfile }"
              >T</span
            >
          </a>
        </div>
      </div>
    </div>

    <div
      class="profile-container"
      v-if="userProfile"
      v-click-outside="clickOutsideAvatar"
    >
      <div class="profile">
        <div class="profile__avatar-wrapper">
          <!-- <img class="profile__avatar" /> -->
          <span class="profile__avatar">T</span>
        </div>
        <div class="profile__name">
          <div class="form-group" v-if="editName">
            <input type="text" v-model="userName" />
            <a
              class="form-group__icon fa fa-times"
              href="#"
              @click.stop="editName = false"
            ></a>
          </div>
          <span v-if="!editName">{{ userName }}</span>
          <a
            class="profile__name-edit"
            href="#"
            @click.stop="editName = true"
            v-if="!editName"
          ></a>
        </div>
        <div class="profile__message">{{ userName }}</div>
        <div class="profile__button">
          <input
            type="file"
            ref="avatarUpload"
            @change="uploadAvatar"
            class="display--none"
          />
          <a class="btn btn--primary" @click.stop="openAvatarUpload()"
            >Change Photo</a
          >
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { IUserService } from "@/service";
import { UserModel, DataEntitlementModel } from "@/model";

import axios from "axios";

@Component
export default class AppHeader extends Vue {
  @Inject("userService") service: IUserService;

  public userProfile: boolean = false;
  public editName: boolean = false;
  private dropdownToggle: boolean = false;
  private advisors: Array<string> = [];

  created() {
    let userName = this.$store.getters.userInfo.userName;
    this.service.getDataEntitlements(userName).then((response) => {
      this.advisors = ["All Rep Codes"].concat(...response.map(d => d.advisors));
    });
  }

  public updateAdvisorCode(selectedItem: string) {
    if (selectedItem == "All Rep Codes") selectedItem = "All";
    this.$store.dispatch("advisorCodeChanged", selectedItem);

    this.$router.go(0);
  }

  public clickOutsideAvatar() {
    this.userProfile = false;
  }

  public clickOutsideAdvisors() {
    this.dropdownToggle = false;
  }

  public openAvatarUpload() {
    let file: any = this.$refs.avatarUpload;

    file.click();
  }

  public uploadAvatar(event: any) {
    let browsedFiles = event.target.files;
    if (!browsedFiles) return;
  }

  get userName() {
    return this.$store.getters.userInfo.userName;
  }

  get selectedAdvisor() {
    let advisor =  this.$store.getters.advisorCode;
    if (advisor == "All") advisor = "All Rep Codes";

    return advisor;
  }
}
</script>
