<template>
  <div class="table table--condensed">
    <div class="table__toolbar">
      <div class="table__toolbar--title">Notifications</div>
      <router-link
        to="/notifications"
        class="table__toolbar--link"
        tag="a"
        data-tooltip="Click to view all notifications"
        >View all</router-link
      >
    </div>
    <table class="notifications-table">
      <tbody class="table__body">
        <tr
          v-for="(item, index) in notifications"
          :key="index"
          :class="{
            'text--color-red': item.action == 'PUBLISH',
          }"
        >
          <td>{{ item.createdTime | dateDisplay("MMMM DD, YYYY hh:mm A") }}</td>
          <td>{{ item.message }}</td>
          <td class="table__cell--fit-content">
              {{ item.action == "PUBLISH" ? "Review & Approve" : "View" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { NotificationModel, NotificationRequestModel } from "@/model";
import { INotificationsService } from "@/service";

@Component
export default class Notifications extends Vue {
  @Inject("notificationsService") service: INotificationsService;

  private notifications: Array<NotificationModel> = [];

  mounted() {
    this.getNotifications();
  }

  public getNotifications() {
    let request = new NotificationRequestModel();
    request.sortColumn = "date";
    request.pageSize = 5;

    this.service.getItems(request).then((response) => {
      this.notifications = response.data;

      console.log(this.notifications);
    });
  }
}
</script>   