<template>
  <div class="table table--condensed table--clickable">
    <div class="table__toolbar">
      <div class="table__toolbar--title">Top Clients<sup>{{ $store.getters.reportType }}</sup></div>
      <router-link to="/clients" tag="a" class="table__toolbar--link">View all</router-link>
    </div>
    <table>
      <tbody class="table__body">
        <tr v-for="item in data" :key="item.client">
          <router-link :to="`/clients/${item.householdId}`" tag="td">{{item.householdName}}</router-link>
          <td class="text--right">{{ item.totalValue.toFixed(2) | currencyDisplay }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Prop } from "vue-property-decorator";
import { ClientModel, ClientRequestModel } from "@/model";
import { IClientsService } from "@/service";

@Component
export default class TopClients extends Vue {
  @Prop() data: Array<ClientModel>;

}
</script>   