<template>
  <div>
    <div id="container"></div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Prop, Watch } from "vue-property-decorator";
import * as Highcharts from "highcharts/highstock";

import { ChartModel } from "@/model";

@Component
export default class Chart extends Vue {
  @Prop() data: ChartModel;

  mounted() {
    this.bindChart();
  }

  @Watch("data", {})
  public bindChart() {
    let chartSeries: Array<any> = this.data.fields;

    Highcharts.setOptions({
      lang: {
        rangeSelectorZoom: "",
      },
      chart: {
        style: {
          fontFamily: "Montserrat",
        },
      },
    });

    Highcharts.chart("container", {
      chart: {
        type: "column",
      },
      credits: {
        enabled: false,
      },
      exporting: {
        enabled: false,
      },
      title: {
        text: "",
      },
      subtitle: {
        text: "",
      },
      legend: {
        symbolHeight: 11,
        symbolWidth: 11,
        symbolRadius: 0,
        itemMarginTop: 20,
        itemStyle: {
          color: "#5f5f5f",
          fontSize: "1.4rem"
        },
      },
      xAxis: {
        categories: this.data.categories,
        labels: {
          style: {
            color: "#9aa1aa",
            fontSize: "1.4rem",
            fontWeight: "600",
          },
        },
      },
      yAxis: {
        min: 0,
        //tickInterval: 20000,
        title: {
          text: "",
        },
        labels: {
          format: "${value}",
          style: {
            color: "#9aa1aa",
            fontSize: "1.2rem",
            fontWeight: "600",
          },
        },
      },
      rangeSelector: {
        enabled: true,
        allButtonsEnabled: true,
        inputEnabled: false,
        buttonPosition: {
          align: "right",
          x: -10,
          y: 0,
        },
        buttons: [
          {
            type: "month",
            count: 1,
            text: "1M",
            events: {
              click: (e) => {
                this.onReportTypeChange("1M");
              },
            },
          },
          {
            type: "month",
            count: 3,
            text: "3M",
            events: {
              click: (e) => {
                this.onReportTypeChange("3M");
              },
            },
          },
          {
            type: "month",
            count: 6,
            text: "6M",
            events: {
              click: (e) => {
                this.onReportTypeChange("6M");
              },
            },
          },
          {
            type: "ytd",
            text: "YTD",
            events: {
              click: (e) => {
                this.onReportTypeChange("YTD");
              },
            },
          },
          {
            type: "year",
            count: 1,
            text: "1Y",
            events: {
              click: (e) => {
                this.onReportTypeChange("1Y");
              },
            },
          },
          {
            type: "year",
            count: 3,
            text: "3Y",
            events: {
              click: (e) => {
                this.onReportTypeChange("3Y");
              },
            },
          },
          {
            type: "year",
            count: 6,
            text: "MAX",
            events: {
              click: (e) => {
                this.onReportTypeChange("MAX");
              },
            },
          },
        ],
        buttonTheme: {
          fill: "transparent",
          style: {
            color: "#9aa1aa",
            fontWeight: "700",
            fontSize: "1.5rem",
          },
          states: {
            select: {
              fill: "#5f5f5f",
              style: {
                color: "white",
              },
            },
          },
        },
        selected: 0,
      },
      tooltip: {
        useHTML: true,
        formatter: function () {
          return `<table><tr><td><b>${
            this.series.name
          }</b></td></tr><tr><td style="text-align: center;">$${this.point.y.toFixed(
            2
          )}</td></tr></table>`;
        },
        backgroundColor: "#566270",
        borderColor: "#566270",
        borderRadius: 12,
        style: {
          color: "#e4e4e4",
        },
      },
      plotOptions: {
        column: {
          pointWidth: 30,
        },
      },
      navigator: {
        enabled: false,
      },
      series: chartSeries,
    });
  }

  private onReportTypeChange(reportType: string) {
    this.$emit("reportTypeChanged", reportType);
  }
}
</script>   