<template>
  <div class="content-home">
    <section class="welcome">
      <h1 class="welcome__message">Welcome back, Tom.</h1>

      <div class="welcome__overview" v-if="summary">
        <div class="welcome__overview-data">
          <div class="welcome__overview-data--count">
            <p class="welcome__overview-category">Clients</p>
            <p class="welcome__overview-value">{{ summary.totalClients }}</p>
          </div>

          <div class="welcome__overview-data--money">
            <p class="welcome__overview-category">
              Revenue<sup>{{ reportType }}</sup>
            </p>
            <p class="welcome__overview-value">{{ summary.totalRevenue | currencyDisplay }}</p>
          </div>

          <div class="welcome__overview-data--money">
            <p class="welcome__overview-category">Change</p>
            <p class="welcome__overview-value" :class="{'text--color-green' : summary.change > 0, 'text--color-red' : summary.change < 0}">{{ summary.change }}%</p>
          </div>
        </div>
      </div>
    </section>

    <chart :data="chartData" @reportTypeChanged="onReportTypeChanged" v-if="chartData" />

    <div class="row no-gutters ma--top-3 pa--y-4 border--x">
      <div class="column-6 pa--right-3 border--right">
        <notifications />
      </div>
      <div class="column-6 pa--left-3">
        <top-clients :data="summary.topClients" v-if="summary" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { IReportService } from "@/service";
import {
  ChartFieldModel,
  ChartModel,
  SummaryModel,
  ReportsRequestModel,
} from "@/model";
import { BaseComponent } from "@/components";

import Chart from "@/components/Chart.vue";
import Notifications from "./components/Notifications.vue";
import TopClients from "./components/TopClients.vue";

@Component({
  components: { Chart, Notifications, TopClients },
})
export default class HomePage extends BaseComponent {
  @Inject("reportService") service: IReportService;

  private summary: SummaryModel = null;
  private chartData: ChartModel = null;

  mounted() {
    this.$store.subscribe((mutation) => {
      if (mutation.type == "onReportTypeChanged") this.getReport();
    });

    this.$store.dispatch("reportTypeChanged", "6M");
  }

  public getReport() {
    let request = new ReportsRequestModel();
    request.reportType = this.reportType;

    this.service.getReport(request).then((response) => {
      this.summary = response;

      this.bindChart();
    });
  }

  bindChart() {
    this.chartData = new ChartModel();
    this.chartData.categories = this.summary.reports.map((r) => r.reportName);

    let chartField = new ChartFieldModel();
    chartField.name = "On-Cycle";
    chartField.color = "#7CB5EC";
    chartField.data = this.summary.reports.map((r) => r.onCycleFee);
    this.chartData.fields.push(chartField);

    chartField = new ChartFieldModel();
    chartField.name = "New Business";
    chartField.color = "#8CD790";
    chartField.data = this.summary.reports.map((r) => r.newFee);
    this.chartData.fields.push(chartField);

    chartField = new ChartFieldModel();
    chartField.name = "Lost Business";
    chartField.color = "#EC6D71";
    chartField.data = this.summary.reports.map((r) => r.lostFee);
    this.chartData.fields.push(chartField);
  }

  onReportTypeChanged(reportType: string) {
    this.$store.dispatch("reportTypeChanged", reportType);
  }

  get reportType() {
    return this.$store.getters.reportType;
  }
}
</script>   