<template>
  <div id="app" class="site__wrapper fix--footer">
    <AppHeader />

    <AppContent />

    <AppFooter />
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import moment from "moment";

import { DIContainer } from "./dicontainer";

import AppHeader from "@/components/layout/AppHeader.vue";
import AppContent from "@/components/layout/AppContent.vue";
import AppFooter from "@/components/layout/AppFooter.vue";

@Component({
  components: { AppHeader, AppContent, AppFooter },
})
export default class App extends DIContainer {
  created() {
    Vue.filter(
      "currencyDisplay",
      (value: any, numberOfDigits: number = 0, symbol: string = "$") => {
        if (!value) return "";

        return `${symbol}${value.toLocaleString(undefined, {
          minimumFractionDigits: numberOfDigits,
          maximumFractionDigits: numberOfDigits,
        })}`;
      }
    );

    Vue.filter("dateDisplay", (value: any, format: string) => {
      if (!value) return "";

      if (!format) format = "MM/DD/YYYY";

      return moment(value).format(format);
    });

    Vue.directive("click-outside", {
      bind: function (el: any, binding: any, vnode: any) {
        el.clickOutsideEvent = function (event: any) {
          if (!(el == event.target || el.contains(event.target))) {
            vnode.context[binding.expression](event);
          }
        };
        document.body.addEventListener("click", el.clickOutsideEvent);
      },
      unbind: function (el: any) {
        document.body.removeEventListener("click", el.clickOutsideEvent);
      },
    });
  }
}
</script>