<template>
  <div class="content-notification">
    <div class="row no-gutters content__header">
      <div class="column-8">
        <h1 class="content__header-title">Notifications</h1>
        <router-link to="/" tag="a" class="content__header-back">Back to overview</router-link>
      </div>
      <div class="column-4 content__header-search">
        <div class="form-input form-input__group">
          <input type="text" placeholder="Search notifications" />
          <a class="form-input__group--icon fa fa-search" href="#"></a>
        </div>
      </div>
    </div>

    <div class="table table--bordered">
      <div class="table__toolbar">
        <ul class="legend">
          <li class="legend__item before--color-red">Actionable</li>
          <li class="legend__item before--color-blue">Informational</li>
        </ul>
        <span class="table__toolbar--text">Total: 47</span>
      </div>
      <table>
        <thead class="table__head">
          <tr>
            <th>DESCRIPTION</th>
            <th class="text--center">TYPE</th>
            <th>NOTIFIED ON</th>
            <th class="text--right">RELATED FEES</th>
            <th class="text--right">RELATED ASSETS</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr v-for="(item, index) in notifications" :key="index">
            <td>{{ item.message }}</td>
            <td class="text--center">
                <a class="btn btn--tertiary btn--small" v-if="item.action == 'PUBLISH'">Actionable</a>
                <a class="btn btn--primary btn--small" v-else>Info</a>
            </td>
            <td>{{ item.notifiedOn | dateDisplay('MMMM DD, YYYY hh:mm A') }}</td>
            <td class="text--right">{{ item.totalFees | currencyDisplay }}</td>
            <td class="text--right">{{ item.totalAssets | currencyDisplay }}</td>
          </tr>
        </tbody>
        <tfoot class="table__foot">
          <tr class="table__foot--load">
            <td colspan="5">Load More</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { NotificationModel, NotificationRequestModel } from "@/model";
import { INotificationsService } from "@/service";

@Component
export default class NotificationPage extends Vue {
  @Inject("notificationsService") service: INotificationsService;

  private notifications: Array<NotificationModel> = [];

  mounted() {
    this.getNotifications();
  }

  public getNotifications() {
    let request = new NotificationRequestModel();
    request.sortColumn = "date";
    request.pageSize = 5;

    this.service.getItems(request).then((response) => {
      this.notifications = response.data;
    });
  }
}
</script>   